aiolimiter==1.2.1
annotated-types==0.8.0
anyio==4.14.2
construct==2.10.70
construct-typing==0.7.0
h11==0.16.0
h2==4.4.0
hpack==4.2.0
httpcore2==2.7.0
httpx2==2.7.0
hyperframe==6.1.0
idna==3.18
jsonalias==0.1.1
pydantic==2.13.4
pydantic_core==2.46.4
solana==0.40.1
solders==0.27.1
truststore==0.10.4
typing-inspection==0.4.2
typing_extensions==4.16.0
websockets==17.0.1
